attrs==22.1.0
bpython==0.25
brotlicffi==1.1.0.0
brotlipy==0.7.0
cffi==1.15.1
ConfigParser==7.2.0
contextlib2==21.6.0
coreschema==0.0.4
cx_Oracle==8.3.0
Cython==3.1.2
dj_database_url==3.0.0
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
fido2==2.0.0
h2==4.2.0
HTMLParser==0.0.2
inflection==0.5.1
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.0.4
isort==6.0.1
jnius==1.1.0
keyring==23.13.1
lockfile==0.12.2
Markdown==3.4.1
mock==5.2.0
MySQL-python==1.2.5
numpy==2.3.0
onelogin==3.2.0
oracledb==3.1.1
Pillow==9.4.0
Pillow==11.2.1
psycopg==3.2.9
psycopg_pool==3.2.6
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==23.2.0
pyOpenSSL==25.1.0
pytest==7.4.0
pytest_django==4.11.1
python-dotenv==1.1.0
python_bcrypt==0.3.2
pytz==2023.3.post1
pywatchman==3.0.0
PyYAML==6.0
PyYAML==6.0.2
qrcode==8.2
railroad==0.5.0
requests_oauthlib==2.0.0
responses==0.13.3
simplejson==3.20.1
Sphinx==5.0.2
tblib==1.7.0
thread==2.0.5
tornado==6.3.2
trove_classifiers==2025.5.9.12
truststore==0.10.1
uritemplate==4.2.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0
