# requirements.txt
# Core Django and API
Django
djangorestframework
psycopg2-binary

# Authentication
djangorestframework-simplejwt
django-allauth
dj-rest-auth
cryptography

# Production Server and Environment
gunicorn
whitenoise
dj-database-url
python-dotenv

MySQL-python
ConfigParser